:root {
  --text: #ffff;
  --bg: #090909;
}

*{
  padding: 0;
  margin: 0;
}

body{
  background-color: var(--bg);
  color: var(--text);
  font-family: "Yarndings 12 Charted", system-ui;
}

.leafflet-control-attribution{
  display: none;
}

a{
  text-decoration: none;
  color: #ffff;
  opacity: 0.8;
}

a:hover{
  opacity: 1;
  text-shadow: 1px 1px 5px blueviolet;
}