.wrapMenu{
    background-color: brown;
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 999;
    box-shadow: rgba(11, 119, 125, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;    top: 0;
    lef: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2vw; 
}